[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = false

# IDE0048: Add parentheses for clarity
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = silent
